<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>233463974295-fsa666s4bnfuf5kppl69c1vq1iq3csbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233463974295-fsa666s4bnfuf5kppl69c1vq1iq3csbd</string>
	<key>API_KEY</key>
	<string>AIzaSyDzoL-I0YHImMURHeMak9ssYSxeA3aML5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>233463974295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prabalmalhan.Social-Cop</string>
	<key>PROJECT_ID</key>
	<string>aartinew-9b6cd</string>
	<key>STORAGE_BUCKET</key>
	<string>aartinew-9b6cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:233463974295:ios:b42a80877a80420d</string>
	<key>DATABASE_URL</key>
	<string>https://aartinew-9b6cd.firebaseio.com</string>
</dict>
</plist>